body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-image: url('canva_ss.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Make all text and button backgrounds transparent to show the underlying image */
header, main, .logo, nav, .auth-buttons, .hero-content, .cta-buttons, button, a, h1, p {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Position elements to be clickable regions over the image */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; /* Approximate height of header area */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo {
    width: 120px; /* Approx width */
    height: 50px; /* Approx height */
}

nav {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px; /* Approx width */
    height: 40px; /* Approx height */
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    height: 100%;
}

.auth-buttons {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 200px; /* Approx width */
    height: 50px; /* Approx height */
}

.auth-buttons .signup, .auth-buttons .login {
    width: 48%;
    height: 100%;
    display: inline-block;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Approx width of hero content */
    height: 400px; /* Approx height */
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-content h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px; /* Approx height */
}

.hero-content p {
    position: absolute;
    top: 220px; /* Approx position */
    left: 0;
    right: 0;
    height: 60px; /* Approx height */
}

.cta-buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px; /* Approx width */
    height: 60px; /* Approx height */
}

.cta-buttons .cta-start, .cta-buttons .cta-explore {
    width: 48%;
    height: 100%;
    display: inline-block;
}
